@charset "UTF-8";

:root {
    --bg-header: lightseagreen;
}

.text-align-right {
    text-align: right;
}

.text-align-left {
    text-align: left;
}

.bg-main {
    background-color: rgba(0, 107, 255, 0.5);
}


.el-hover:hover {
    background-color: rgba(0, 255, 255, 0.72);
    border-radius: 8px;
    cursor: pointer;
}

.br-12 {
    border-radius: 16px;
}

.input-beau {
    margin-top: 8px;
    margin-bottom: 8px;
}

/*index.html*/
.index-header {
    background-color: var(--bg-header);
    padding: 5px 10%;
    transform: translateY(100%);
}

.btn-login,
.btn-register {
    padding-left: 2px;
    padding-right: 2px;
}

.profile-img {
    height: 24px;
    border-radius: 100%;
}
